html,
body {
  margin: 0;
}

html {
  font-size: min(22px, max(16px, calc(100vw * 0.03)));
}

body {
  min-height: 100vh;
  background-color: #e1e1e1;
}

body * {
  box-sizing: border-box;
  line-height: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.select-none {
  user-select: none;
}
